@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
    max-width: 1439px;
}

h2 {
    font-family: 'Roboto Slab', serif;
}

.format .format-cards {
    display: flex;
    margin-bottom: 179px;
    width: 153px;
    margin-bottom: 210px;
}

.format-cards .format-card {
    height: 39px;
    padding-bottom: 43px;
    margin-right: 122px;

}

.format-cards .format-card h3 {
    color: #1E4681;
    font-size: 25px;
    font-weight: 700;
    line-height: 130%;
}

.format-card .format-card-text {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    width: 270px;
}

.format h2 {
    color: black;
    font-family: Roboto Slab;
    font-size: 55px;
    font-weight: 700;
    line-height: 101.385%;
    margin-bottom: 130px;
}

.sto h2 {
    color: #000;
    font-family: Roboto Slab;
    font-size: 55px;
    font-weight: 700;
    line-height: 101.385%;
    margin-bottom: 71px;
}

.list ul {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    width: 662px;
    height: 374px;
}

@media (min-width: 375px) and (max-width: 833px) {
    .format h2 {
        font-size: 32px;
        margin-bottom: 76px;
    }

    .format-cards .format-card h3 {
        font-size: 15px;
    }

    .format-card .format-card-text {
        font-size: 11px;
        width: 142px;
    }

    .list ul {
        font-size: 14px;
        width: 383.408px;
        height: 216.608px;
    }

    .format-cards .format-card {
        margin-right: 66px;
    }

    .sto h2 {
        font-size: 32px;
        margin-bottom: 40px;

    }

    .format .format-cards {
        margin-bottom: 125px;
    }
}



@media only screen and (max-width: 374px) {
    .format h2 {
        font-size: 26px;
        margin-bottom: 33px;
    }

    .format-cards .format-card h3 {
        font-size: 12px;
        width: 99.718px;
        height: 18.173px;

    }

    .format-card .format-card-text {
        font-size: 10px;
    }

    .sto h2 {
        font-size: 26px;
        margin-bottom: 29px;
    }

    .format {
        display: flex;
        flex-direction: column;
    }

    .format .format-cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .list ul {
        font-size: 12px;
        width: 299px;
        height: 174px;
    }
    .format-cards .format-card-text {
        width: 180px;
    }
}