@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}

h2 {
    font-family: 'Roboto Slab', serif;
}

.format .format-cards {
    display: flex;
    width: 12.43vw;
    margin-bottom: 221px;
}

.format-cards .format-card {
    height: 39px;
    margin-right: 122px;

}

.format-cards .format-card h3 {
    color: #1E4681;
    font-size: 1.73vw;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 13px;
}

.format-card .format-card-text {
    color: #000;
    font-size: 1.25vw;
    font-weight: 400;
    width: 18.75vw;
}

.format h2 {
    color: black;
    font-family: Roboto Slab;
    font-size: 3.7vw;
    font-weight: 700;
    line-height: 101.385%;
    margin-bottom: 130px;
}

.sto h2 {
    color: #000;
    font-family: Roboto Slab;
    font-size: 3.7vw;
    font-weight: 700;
    line-height: 101.385%;
    margin-bottom: 71px;
}

.list ul {
    color: #000;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 150%;
    width: 45vw;
    height: 374px;
}

@media (min-width: 375px) and (max-width: 833px) {
    .format h2 {
        font-size: 3.6vw;
        margin-bottom: 76px;
    }

    .format-cards .format-card h3 {
        font-size: 1.79vw;
    }

    .format-card .format-card-text {
        font-size: 1.3vw;
        width: 17vw;
    }

    .list ul {
        font-size: 1.67vw;
        width: 46vw;
        height: 216.608px;
    }

    .format-cards .format-card {
        margin-right: 66px;
    }

    .sto h2 {
        font-size: 3.6vw;
        margin-bottom: 40px;

    }

    .format .format-cards {
        margin-bottom: 125px;
    }
}



@media only screen and (max-width: 374px) {
    .format h2 {
        font-size: 6.9vw;
        margin-bottom: 33px;
    }

    .format-cards .format-card h3 {
        font-size: 3.2vw;
        width: 26.4vw;
        height: 18.173px;

    }

    .format-card .format-card-text {
        font-size: 2.66vw;
    }

    .sto h2 {
        font-size: 6.9vw;
        margin-bottom: 29px;
    }

    .format {
        display: flex;
        flex-direction: column;
    }

    .format .format-cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .list ul {
        font-size: 3.2vw;
        width: 79.7vw;
        height: 174px;
    }

    .format-cards .format-card-text {
        width: 48vw;
    }
}