img{
    width: 100%;
}
.card {
    width: 791px;
height: 451px;
    border-radius: 30px;
background: #FFF;
box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.25);
padding: 46px;
}
.card2-2 {
    width: 190px;
height: 169px;
}
.card2 {
    display: flex;

}
.card2-1 {
    width: 190px;
    height: 169px;
}

.card2-2-1 {
    width: 353px;
height: 59px;
color: #000;
font-family: Roboto Slab;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 101.385%; 
} 
.fb{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 32px;
height: 31px;
}
h1{
    width: 987px;
height: 93px;
color: #000;
font-family: 'Roboto Slab', serif;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 101.385%; 
}
.card p {
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
}
@media only screen and (max-width: 834px) {
    h1 {
        font-size: 32px;
    }
    .card {
        width: 458.121px;
        height: 261.204px;
        border-radius: 17.375px;
        background: #FFF;
        box-shadow: 0.57917px 0.57917px 11.58333px 0px rgba(0, 0, 0, 0.25);
        padding: 26px;
    }
    .card p{
        font-size: 12px;
    }
    .card2-2-1 {
        font-size: 17px;
        padding-left: 17px;
        padding-bottom: 0;
        margin-bottom: 0;
        height: auto;

    }
    .card2-1{
        width: 110.042px;
        height: 97.879px;
        
    }
    .fb {
        width: 18.533px;
        height: 17.954px;
        padding-top: 16px;
        padding-left: 16px;
    }
    
    @media only screen and (max-width: 374px) {
        .card {
            width: 308px;
            height: 248px;
            border-radius: 13.979px;
        }
        h1 {
            font-size: 26px;
        }

        .card p {
            width: 266px; 
            height: 111.01px;
            font-size: 10px;
            line-height: 150%; 
        }
        .card2-1 {
            width: 80px;
            height: 84px;
            padding-left: 20px;

        }
        .card2-2-1 {
            font-size: 14px;

        }
        .fb {
            width: 14.911px;
            height: 17.197px;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        }

    }



}


